* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    color: #fff;
    background-color: #000;
}

h2 {
    text-align: center;
    margin: 1rem 0;
    font-weight: 400;
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    color: #B8BCCC;
}

p span {
    color: #fff;
}

section:not(.map) {
    padding: 2rem;
}

.bit-info>p {
    font-size: 1.1rem;
}

.bit-info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bit-info ul li {
    flex: 1 1 33%;
    margin: 0.1rem 0;
}

/* Map */
.map {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #575A85;
    align-items: center;
    padding: 0.4rem;
}

.map .rel-map {
    height: 350px;
    background: #000;
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

/* more-info */
.more-info h2 {
    margin-bottom: 2rem;
}

.post-offices {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-offices form {
    width: 100%;
    max-width: 700px;
    border: 1px solid #B8BCCC;
    border-radius: 5px;
    padding: 0.4rem 0.7rem;
    display: flex;
    align-items: center;
}

.post-offices form svg {
    height: 22px;
    width: 22px;
    margin-right: 0.8rem;
}

.post-offices form input {
    background-color: transparent;
    color: #575A85;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
}

.post-offices .po-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 10px;
    width: 100%;
    margin-top: 2rem;
}

.post-offices .card {
    background: #575A85;
    width: 320px;
    min-width: 100%;
    padding: 0.8rem;
}

.post-offices .card>p:last-child {
    margin-bottom: 0;
}